body {
    background: url('../img/background2.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body::after {
    content: "";
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    z-index: -1;
    filter: blur(10px);
}

.description {
    background: rgba(0,0,0,0);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
    left: 10%;
    top: 20%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    left: 80%;
}

.cell {
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    transform: all 0.1s;
}

.cell img {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px 5px #868e96
}

.button {
    position: fixed;
    left: 90%;
    bottom: 2%;
    width: 90px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px #868e96
}

.button a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
}
