body {
    background: url('../img/background1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.description {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center;
}

.button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.button a {
    padding: 10px 20px;
    background-color: rgba(0,0,0,0);
    color: #000000;
    text-decoration: none;
}
